@import "../../../node_modules/dkfds/src/stylesheets/core/variables";
@import "../../../node_modules/dkfds/src/stylesheets/core/mixins/mixins";
@import "../../../node_modules/dkfds/src/stylesheets/core/mixins/breakpoints";
@import "../../../node_modules/dkfds/src/stylesheets/core/fonts";
@import "../../../node_modules/dkfds/src/stylesheets/core/typography";
@import "dkfds-tippy-theme";
